@font-face {
    font-family: "Lucida-Sans-Unicode", sans-serif;
    src: url(./fonts/Lucida-Sans-Unicode.ttf);
    
}

@font-face {
    font-family: "Lucida-Grande", sans-serif;
    src: url(./fonts/Lucida-Grande.ttf);
    
}